// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  background-color: $primary-blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  @media (max-width: $medium) {
    font-size: 1rem;
  }
  .icon-ctn {
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
    svg {
      @media (max-width: $medium) {
        width: 2rem;
        margin: 3px;
      }
      width: 3rem;
      path {
        fill: black;
      }
      &:hover path {
        fill: white;
      }
    }
  }
}
