// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  background-color: $primary-blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;

  .icon-ctn {
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
    svg {
      width: 3rem;
      path {
        fill: black;
      }
      &:hover path {
        fill: white;
      }
    }
  }
}
