// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  background-color: $primary-blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  @media (max-width: $medium) {
    font-size: 1rem;
  }
  .footer-text {
    @media (max-width: $small) {
      display: none;
    }
  }

  .icon-ctn {
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
    svg {
      @media (max-width: $medium) {
        width: 3rem;
        margin: 0 6px;
      }
      @media (max-width: $small) {
        width: 3rem;
        margin: 1rem;
      }
      width: 3rem;
      path {
        fill: black;
      }
      &:hover path {
        fill: white;
      }
    }
  }
}
