.navbar {
  @media (max-width: $large) {
    display: none;
  }
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 2rem;
  margin-right: 4rem;
  display: flex;
  width: 30rem;
  justify-content: flex-end;
  border-top: 3px solid $primary-blue;
  border-bottom: 3px solid $primary-blue;
  z-index: 20;
  background-color: rgba(0, 69, 90, 0.561);
  a {
    transition: ease-in-out 0.1s;
    padding: 16px;
    margin-right: 1.5rem;
    &:hover {
      background-color: $primary-blue;
      color: black;
    }
  }
}

.hamburger-menu {
  z-index: 2;
  top: 2rem;
  svg {
    fill: $primary-blue;
    width: 3rem;
  }
  display: none;
  @media (max-width: $large) {
    display: block;
    position: fixed;
    right: 2rem;
  }
}
