.about {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  scroll-margin-top: 10rem;

  @media (max-width: $large) {
    height: auto;
  }
  &__content {
    @media (max-width: $large) {
      height: auto;
      flex-direction: column;
      gap: 20rem;
    }
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
  }
}
.about-me {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 0 4rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: $primary-blue;
    height: 3px;
    width: 11rem;
    left: 6rem;
    right: 0;
    top: 4rem;
    bottom: 0;
    @media (max-width: $small) {
      left: 2.5rem;
      width: 80%;
    }
  }
  @media (max-width: $small) {
    padding: 0 1rem;
  }
  &__title {
    @media (max-width: $small) {
      text-align: center;
    }
  }
}
.skills {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 0 3rem;
  position: relative;
  @media (max-width: $small) {
    padding: 0 1rem;
  }
  &::after {
    content: '';
    position: absolute;
    background-color: $primary-blue;
    height: 3px;
    width: 21rem;
    right: 0;
    left: 4rem;
    top: 4rem;
    bottom: 0;
    @media (max-width: $small) {
      left: 2.5rem;
      width: 80%;
    }
  }
  &__title {
    @media (max-width: $small) {
      text-align: center;
    }
  }
  &__details {
    svg {
      @media (max-width: $large) {
        width: 4.5rem;
      }

      path {
        fill: $secondary-blue;
      }
      &:hover path {
        fill: white;
      }
      margin: 10px;
      width: 5rem;
    }
  }
}
.development {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.design-and-tools {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.design {
  flex-basis: 50%;
  position: relative;
}
.tools {
  flex-basis: 50%;
  position: relative;
}
