.about {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  // overflow-x: hidden;

  margin-top: 35rem;
  // height: 100vh;
  // display: block;
  &:before {
    display: block;
    content: ' ';
    margin-top: 3rem;
    height: 3rem;
    visibility: hidden;
    pointer-events: none;
  }
  // height: 100vh;
  @media (max-width: 1500px) {
    // margin-top: 25rem;
  }
  @media (max-width: $medium) {
    height: auto;
    margin-top: 15rem;
  }
  flex-direction: column;

  .about-content {
    // padding-top: 20rem;
    // height: 100%;
    @media (max-width: $medium) {
      flex-direction: column;
    }
    display: flex;
    justify-content: center;
    // align-items: center;
    position: relative;
  }
  .about-me-ctn {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 50px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-color: $primary-blue;
      height: 3px;
      width: 7rem;
      left: 4.5rem;
      right: 0;
      top: 7rem;
      bottom: 0;
    }
    .card {
      margin-top: 4rem;
    }
  }
  .skills-ctn {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 50px;
    position: relative;
    .skills-title {
      &::after {
        content: '';
        position: absolute;
        background-color: $primary-blue;
        height: 3px;
        width: 5rem;
        left: 4.5rem;
        right: 0;
        top: 7rem;
        bottom: 0;
      }
    }
    .skills-details-ctn {
      svg {
        path {
          fill: $secondary-blue;
        }
        &:hover path {
          fill: white;
        }
        margin: 10px;
        width: 5rem;
      }
    }
  }
}

.development-ctn {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.design-tools-ctn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .design-ctn {
    position: relative;
  }
  .tools-ctn {
    position: relative;
  }
}
.skew-3 {
  overflow: hidden;
  background: #ffffff;
  border-top: 2rem solid $primary-blue;
  border-bottom: 2rem solid $primary-blue;
}
