%arrows {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  &:hover svg {
    fill: $secondary-blue;
  }
  svg {
    @media (max-width: $large) {
      width: 4rem;
    }
    width: 5rem;
  }
  .arrow-white {
    position: absolute;
    top: -3rem;
    fill: white;
  }
  .arrow-blue {
    fill: $primary-blue;
  }
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.home-arrows {
  @extend %arrows;
  margin-top: 10rem;
  @media (max-width: $small) {
    margin-top: 6rem;
  }
  svg {
    transform: rotate(90deg);
  }
  .arrow-white {
    left: 0;
  }
  animation-name: bounceDown;
}

.contact-arrows-ctn {
  @media (max-width: $medium) {
    display: none;
  }
  @extend %arrows;
  flex: 2;
  svg {
    transform: rotate(-90deg);
  }
  .arrow-blue {
    position: absolute;
  }
  animation-name: bounceUp;
}

@keyframes bounceDown {
  0% {
    top: -2rem;
  }
  50% {
    top: 2rem;
  }
  100% {
    top: -2rem;
  }
}
@keyframes bounceUp {
  0% {
    bottom: 1rem;
  }
  50% {
    bottom: 4rem;
  }
  100% {
    bottom: 1rem;
  }
}
