// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  height: 3rem;
  width: 185px;
  border: 3px solid #79ffff;
  border-radius: 10px;
  &:hover {
    border: 3px solid #ffffff;
    color: black;
    background-color: #79ffffc4;
    transform: translateY(-2px);
    transition: ease-in-out 0.1s;
  }
}
