// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  cursor: pointer;
  margin-top: 5rem;
  @media (max-width: $medium) {
    margin: 2rem;
  }
  text-align: center;
  line-height: 2.5rem;
  height: 3rem;
  width: 10rem;
  border: 3px solid #79ffff;
  border-radius: 10px;
  &:hover {
    color: rgb(0, 0, 0);
    border: 3px solid #ffffff;
    background-color: $primary-blue;
    transform: translateY(-2px);
    transition: ease-in-out 0.1s;
  }
  align-self: center;
}
