// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.contact-btn,
.details-btn,
.repo-btn,
.live-btn,
.send-btn,
.resume-btn {
  cursor: pointer;
  margin-top: 5rem;
  @media (max-width: $medium) {
    margin: 2rem;
  }
  text-align: center;
  padding: 12px !important;
  height: 3rem;
  width: 10rem;
  border: 3px solid #79ffff;
  border-radius: 10px;
  &:hover {
    border: 3px solid #ffffff;
    color: black;
    background-color: $primary-blue;
    transform: translateY(-2px);
    transition: ease-in-out 0.1s;
  }
}

.resume-btn {
  align-self: center;
}
