.contact {
  display: flex;
  height: 100vh;
  margin-top: 25rem;
  padding: 0 2rem;
  padding-top: 5rem;
  // overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  h1 {
    position: relative;
    @media (max-width: $medium) {
      align-self: center;
    }
    @media (max-width: $large) {
      font-size: 2rem;
    }
    &::after {
      content: '';
      position: absolute;
      background-color: $primary-blue;
      height: 3px;
      width: 12rem;
      left: 1.5rem;
      right: 0;
      top: 3rem;
      bottom: 0;
    }
  }

  .contact-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .form {
    flex: 2;
    flex-basis: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    label {
      margin-top: 2rem;
      @media (max-width: $small) {
        font-size: 1.2rem;
      }
    }
    input {
      margin-top: 1rem;
      height: 1rem;
      width: 70%;
    }
    textarea {
      margin-top: 1rem;
      width: 70%;
    }
    a {
      margin-top: 3rem;
    }
    .msg-input {
      height: 10rem;
    }
  }
  .socials {
    height: 100%;
    align-items: center;
    flex-basis: 30%;
    display: flex;
    justify-content: space-evenly;
    svg {
      &:hover path {
        fill: white;
      }
      path {
        fill: $secondary-blue;
      }
      width: 10rem;
    }
  }
}
