.home {
  display: flex;
  // position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  flex-direction: column;
  // scroll-snap-stop: always;
  .skew-1 {
    position: absolute;
    width: 200rem;
    height: 10rem;
    left: -20rem;
    top: 54rem;
    background: $primary-blue;
    transform: skew(-50deg, -3deg);
    transform: rotate(25deg);
    overflow: hidden;
  }
  .skew-2 {
    overflow: hidden;
    position: absolute;
    width: 150rem;
    height: 20rem;
    left: -20rem;
    top: 56rem;
    background: #ffffff;
    transform: skew(-50deg, -3deg);
    border-bottom: 2rem solid $primary-blue;
  }
}

// .intro-ctn {
//   flex-basis: 50%;
//   margin-top: 12rem;
//   position: relative;
//   .intro-title {
//     &::after {
//       content: '';
//       position: absolute;
//       background-color: $primary-blue;
//       height: 3px;
//       width: 15rem;
//       left: 12px;
//       right: 0;
//       top: 60px;
//       bottom: 0;
//     }
//   }
// }

.name-ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .name-text-1 {
    margin-right: 45rem;
    margin-bottom: -1rem;
    // position: absolute;
    // top: -2rem;
    // left: 0;
  }
  .name-text-2 {
    position: relative;
    font-size: 5rem;
    &::after {
      content: '';
      position: absolute;
      background-color: $primary-blue;
      height: 3px;
      width: 40rem;
      left: 4rem;
      right: 0;
      top: 6rem;
      bottom: 0;
    }
  }
  .name-text-3 {
    font-size: 2rem;
    margin-top: -1rem;
    margin-left: 20rem;
    // position: absolute;
    // top: 6rem;
    // left: 25rem;
    // right: 0;
  }
  .contact-btn {
    margin-top: 5rem;
    // position: absolute;
    // top: 15rem;
    // left: 15rem;
  }
}
