.home {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  flex-direction: column;

  // scroll-snap-stop: always;
  .skew-1 {
    position: absolute;
    width: 140%;
    height: 20%;
    right: 5%;
    top: 94%;
    background: $primary-blue;
    transform: skew(-50deg, -3deg);
    transform: rotate(25deg);
    overflow: hidden;
  }
  .skew-2 {
    overflow: hidden;
    position: absolute;
    width: 140%;
    height: 25%;
    right: 5%;
    top: 92%;
    background: #ffffff;
    transform: skew(-50deg, -3deg);
    border-bottom: 2rem solid $primary-blue;
  }
}

// .intro-ctn {
//   flex-basis: 50%;
//   margin-top: 12rem;
//   position: relative;
//   .intro-title {
//     &::after {
//       content: '';
//       position: absolute;
//       background-color: $primary-blue;
//       height: 3px;
//       width: 15rem;
//       left: 12px;
//       right: 0;
//       top: 60px;
//       bottom: 0;
//     }
//   }
// }

.name-ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .name-text-1 {
    margin-right: 45rem;
    margin-bottom: -1rem;
    @media (max-width: $large) {
      margin-bottom: -2rem;
      font-size: 1.5rem;
      margin-right: 35rem;
    }
    @media (max-width: $medium) {
      margin-bottom: 0rem;
      margin-right: 0rem;
    }

    // position: absolute;
    // top: -2rem;
    // left: 0;
  }
  .name-text-2 {
    position: relative;
    font-size: 5rem;
    @media (max-width: $large) {
      font-size: 4rem;
    }
    @media (max-width: $medium) {
      font-size: 3rem;
    }
    &::after {
      @media (max-width: $large) {
        width: 30rem;
        top: 5rem;
      }
      @media (max-width: $medium) {
        width: 26rem;
        left: -1rem;
        top: 4rem;
      }
      content: '';
      position: absolute;
      background-color: $primary-blue;
      height: 3px;
      width: 40rem;
      left: 4rem;
      right: 0;
      top: 6rem;
      bottom: 0;
    }
  }
  .name-text-3 {
    @media (max-width: $large) {
      font-size: 2rem;
    }
    @media (max-width: $medium) {
      font-size: 1.5rem;
      margin-top: 0rem;
      margin-left: 0rem;
    }

    font-size: 2rem;
    margin-top: -1rem;
    margin-left: 20rem;
    // position: absolute;
    // top: 6rem;
    // left: 25rem;
    // right: 0;
  }
  .contact-btn {
    margin-top: 5rem;
    // position: absolute;
    // top: 15rem;
    // left: 15rem;
  }
}
