.home {
  display: flex;
  // position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  flex-direction: column;
  // scroll-snap-stop: always;
  .skew-1 {
    position: absolute;
    width: 150rem;
    height: 10rem;
    left: -20rem;
    top: 55rem;
    background: $primary-blue;
    transform: matrix(1, -0.05, -0.08, -1, 0, 0);
    overflow: hidden;
  }
  .skew-2 {
    overflow: hidden;
    position: absolute;
    width: 150rem;
    height: 10rem;
    left: -20rem;
    top: 56rem;
    background: #ffffff;
    transform: matrix(1, -0.05, -0.08, -1, 0, 0);
  }
}

// .intro-ctn {
//   flex-basis: 50%;
//   margin-top: 12rem;
//   position: relative;
//   .intro-title {
//     &::after {
//       content: '';
//       position: absolute;
//       background-color: $primary-blue;
//       height: 3px;
//       width: 15rem;
//       left: 12px;
//       right: 0;
//       top: 60px;
//       bottom: 0;
//     }
//   }
// }

.name-ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .name-text-1 {
    margin-right: 45rem;
    margin-bottom: -1rem;
    // position: absolute;
    // top: -2rem;
    // left: 0;
  }
  .name-text-2 {
    position: relative;
    font-size: 5rem;
    &::after {
      content: '';
      position: absolute;
      background-color: $primary-blue;
      height: 3px;
      width: 40rem;
      left: 4rem;
      right: 0;
      top: 6rem;
      bottom: 0;
    }
  }
  .name-text-3 {
    font-size: 2rem;
    margin-top: -1rem;
    margin-left: 20rem;
    // position: absolute;
    // top: 6rem;
    // left: 25rem;
    // right: 0;
  }
  .contact-btn {
    margin-top: 5rem;
    // position: absolute;
    // top: 15rem;
    // left: 15rem;
  }
}
.arrow-ctn {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  // top: 45rem;
  // left: 50%;
  svg {
    width: 5rem;
    transform: rotate(90deg);
  }
  .arrow-white {
    position: absolute;
    top: -3rem;
    left: 0;
    fill: white;
  }
  .arrow-blue {
    fill: $primary-blue;
  }
}
.arrow {
  position: relative;
  z-index: 1;
  border: solid rgb(255, 255, 255);
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
  &::before {
    content: '';
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    border: solid #00202a;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 20px;
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    border: solid $primary-blue;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 20px;
    z-index: 3;
  }
}
