.projects {
  scroll-snap-align: start;
  // scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  height: 100vh;
  // overflow-x: hidden;

  margin-top: 25rem;
  align-items: center;
  .details-btn {
    align-self: center;
  }
  h1 {
    @media (max-width: $medium) {
      font-size: 2.5rem;
    }
    margin-top: 1rem;
    font-size: 3rem;
    align-self: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-color: $primary-blue;
      height: 3px;
      width: 12rem;
      left: 2rem;
      right: 0;
      top: 60px;
      bottom: 0;
    }
  }
  h2 {
    @media (max-width: $medium) {
      font-size: 2rem;
    }
    font-size: 4rem;
    padding-top: 16rem;
    text-align: center;
  }
}
.project-ctn {
  display: flex;
  flex-direction: column;
}
.project-content {
  display: flex;
  position: relative;
  .project-info-ctn {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: 70vh;
    padding: 4rem;
    .project-name-ctn {
      flex-basis: 20%;
    }
    .project-description-ctn {
      .card {
        height: 10rem;
      }
    }
  }
  .showcase-ctn {
    padding: 4rem;
    flex-basis: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .btn-container {
      display: flex;
      margin-top: 2rem;
      justify-content: space-around;
    }
    .preview {
      height: 100%;
      width: 100%;
      background-color: white;
    }
  }
}
