@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables';

// 2. Vendors
@import 'vendors/normalize';

// 3. Base stuff
@import 'base/base', 'base/fonts', 'base/typography';

// 4. Layout-related sections
@import 'layout/header', 'layout/footer';

// 5. Components
@import 'components/button';
@import 'components/card';
@import 'components/home';
@import 'components/about';
@import 'components/projects';
@import 'components/contact';
@import 'components/arrows';

// 6. Page-specific styles
@import 'pages/index';
// 7. Themes
@import 'themes/default';
