// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  color: white;
}
html {
  scroll-behavior: smooth;
  // scroll-padding: 30px 0;
  width: 100vw;
  // overflow-x: hidden;
}
body {
  background-image: url(../../assets//img/bg.png),
    linear-gradient(#005685, #001d23);
  background-size: cover;
  width: 100vw;
  // overflow-x: hidden;
}
button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  &:hover {
    color: black;
  }
}

p {
  color: black;
}

label {
  font-size: 1.5rem;
}

main {
  overflow-x: hidden;
  padding: 0rem 7rem;
  @media (max-width: $large) {
    padding: 0;
  }
}
