@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Comfortaa', cursive;
  color: white;
  word-spacing: 2px;
}
h1,
h2,
h3 {
  font-weight: normal;
}

p {
  line-height: 1.5rem;
}
